<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body class="album">
<h1>{{ .Title }}</h1>
<ul>
{{ range .Media }}
{{ if eq .Type "photo" }}
<li>
<a href="media/{{ .ID }}/"><img src="raw/{{ .Files|photo }}" loading="lazy" /></a>
</li>
{{ else if eq .Type "video" }}
<li>
<a href="media/{{ .ID }}/"> 
<video loop muted poster="raw/{{ .Files|photo }}">
<source src="raw/{{ .Files|video }}" type="video/mp4">
</video>
</a>
</li>
{{ end }}
{{ end }}
<li><!-- Last item is here as a filler for the last row of the flex box --></li>
</ul>
</body>
</html>
